.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  height:100vh;
}

.navbar {
  display: flex;
  height: 100px;
  flex-grow: 0;
  justify-content: space-around;
  width: 100%;
}

.navlink {
  pointer-events: all;
}

.navlink:hover {
  cursor: pointer;
}

.App-content {
  display: flex;
  flex-grow: 1;
  width:100%;
  flex-direction: row;
  /*border: 1px solid red;*/
}

#chatContainer{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /*border: 1px solid brown;*/
  width: 200px;
}

.chatArea {
  flex-grow: 1;
}

#phaser-game{
  /*border: 1px solid cyan;*/
  flex-grow: 1;
}

.main {
  align-items: center;
}

.main_menu_list {
  align-items: center;
  max-width: 20vmax;
}

.main_menu > .main_menu_list {
  align-items: center;
  padding: 5pt;
  border-style: dashed;
  border-width: 2pt;
  border-color: #ffffff;
}

.video_chat {
  flex-grow: 2;
}

.profile-body {
  background-color: #282c34;
  width: inherit;
  justify-content: center;
  align-items: center;
}